{% extends 'students/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Existing Subject{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Add Existing Subject for {{ student.first_name }} {{ student.last_name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Add Course</button>
    </form>
    <a href="{% url 'student_detail' student.id %}" class="btn btn-secondary mt-4">Back to Student Detail</a>
</div>
{% endblock %}