{% extends 'students/base.html' %}

{% block title %}Delete Student Course{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Are you sure you want to delete this course?</h1>
    <p>Course: {{ student_course.course.name }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'student_detail' student_course.student.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}